/* VARIABLES */
:root {
	--color-0: #fff;
	--color-1: #FFFBF0;
	--color-2: #CCC4B8;
	--color-3: #413E3A;
	--color-4: #252422;
	--color-5: #EB6028;
	--color-9: #000;
	--font-em: "Comfortaa", sans-serif;
	--font-normal: "Montserrat", sans-serif;
}

/* DEFAULT VALUES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-normal);
}

html {
	scroll-behavior: smooth;
}