/* Email Modal Style */

#emailTitle {
	color: var(--color-1);
    font-family: var(--font-em);
    text-shadow: 0 3px 2px var(--color-5);
    font-size: 32px;
    font-weight: 300;
}

#emailText {
    color:#403E3A;
}

#nameLabel, #emailLabel, #messageLabel {
    color:#EB6028;
    margin-top: 6px;
}

#nameInput, #messageInput, #emailInput {
    width: 85%;
    margin-left: 7.5%;
    background-color: antiquewhite;
    border: 1px solid #EB6028;
}

#nameInput::placeholder, #messageInput::placeholder, #emailInput::placeholder {
color:#403E3A;
opacity: 70%;
}

#nameInput:focus::placeholder, #messageInput:focus::placeholder, #emailInput:focus::placeholder {
color:#FFFBF0 ;
}

#nameLabel:focus, #emailLabel:focus, #messageLabel:focus {
    color:#EB6028;
}

#nameInput:focus, #messageInput:focus, #emailInput:focus {
    outline: 3px solid #EB6028;
	outline-offset: -2px;
    background-color: #FFFBF0;
}

#emailButton {
    margin:10px 0 0 41%;
    /* margin-left: 42%; */
    padding:5px;
    background: #FFFBF0;
    font-weight: 800;
    color: #403E3A;
    border: 2.5px solid #EB6028;
    border-radius: 8px;
}

#result-text {
    margin-top: 10px;
    text-align: center;
    color: #EB6028;
}

@media (max-width: 4000px) {
    #emailTitle{
        font-size: 2.2rem;
        transition: .25s;
    }
}

@media (max-width: 1200px) {
    #emailTitle{
        font-size: 2.0rem;
        transition: .25s;
    }
}

@media (max-width: 800px) {
    #emailTitle{
        font-size: 1.8rem;
        transition: .25s;
    }
}

@media only screen and (max-width:499px) {
    #emailTitle{
        font-size: 1.6rem;
        transition: .25s;
    }
}